/* barlow-regular - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/barlow-v5-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/barlow-v5-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-700 - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/barlow-v5-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/barlow-v5-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  /* fraunces-regular - latin */
  @font-face {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/fraunces-v10-latin-regular.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("../fonts/fraunces-v10-latin-regular.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("../fonts/fraunces-v10-latin-regular.woff2")
        format("woff2"),
      /* Super Modern Browsers */
        url("../fonts/fraunces-v10-latin-regular.woff") format("woff"),
      /* Modern Browsers */ url("../fonts/fraunces-v10-latin-regular.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("../fonts/fraunces-v10-latin-regular.svg#Fraunces") format("svg"); /* Legacy iOS */
  }
  /* fraunces-900 - latin */
  @font-face {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/fraunces-v10-latin-900.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("../fonts/fraunces-v10-latin-900.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("../fonts/fraunces-v10-latin-900.woff2") format("woff2"),
      /* Super Modern Browsers */ url("../fonts/fraunces-v10-latin-900.woff")
        format("woff"),
      /* Modern Browsers */ url("../fonts/fraunces-v10-latin-900.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("../fonts/fraunces-v10-latin-900.svg#Fraunces") format("svg"); /* Legacy iOS */
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif ;
  /* font-family: "barlow", "Fraunces", "Calibri" sans-serif; */
}

.container {
  width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 44px;
  margin-bottom: 30px;
}

.header-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-link {
  display: block;
  text-decoration: none;
  padding: 0 16px;
}

.section-create {
  display: block;
  background-image: url(../images/Bitmap.jpg);
  background-size: 1200px 600px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 200px 86px;
}

.section-h1 {
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  width: 530px;
  padding: 16 0px;
  color: #fff;
}
.section-paragraf {
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  width: 445px;
  padding: 16px 0;
  padding-bottom: 70px;
  opacity: 0.8;
}

.section-button {
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  width: 217px;
  height: 56px;
  background-color: #0e8784;
  border-radius: 7px;
  border: none;
}

.container-smool {
  width: 1110px;
  margin: 0 auto;
  padding-top: 140px;
}

.section-our-collection {
  clear: both;
  background-image: url(../images/Group13.png);
  background-color: linear-gradient(
    180deg,
    rgba(254, 252, 247, 0.0001) 0%,
    #fefcf7 100%
  );
  background-repeat: no-repeat;
  margin-top: 100px;
}

.collectin-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.collection-list-item {
  margin: 0 15px;
}

.collection-h2 {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333d4b;
  margin: 30px 0;
}
.collection-p {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333d4b;
}

.section-choose-us {
  position: relative;
  background-color: #2c343e;
  border-radius: 10px;
  padding-top: 110px;
  padding-bottom: 300px;
}

.choose-us-h2 {
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #fefcf7;
  margin-bottom: 32px;
}
.choose-us-p {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.choose-us-list {
  position: absolute;
  top: 60%;
  right: 50%;
  display: flex;
  list-style-type: none;
  margin: -20px;
  padding: 0;

  justify-content: space-between;
  transform: translateX(50%);
}

.choose-us-list-item {
  position: relative;
  width: 350px;
  height: 380px;
  padding: 48px;
  margin: 20px;
  padding-top: 200px;
  border: 1px solid #0e8784;
  border-radius: 8px;
  background-color: #0e8784;
}
.best-quality {
  background-image: url(../images/Shape.png);
  background-size: 72px 72px;
  background-position: center 40px;
  background-repeat: no-repeat;
}
.exclusive {
  background-image: url(../images/Combined\ Shape1.svg);
  background-size: 72px 72px;
  background-position: center 40px;
  background-repeat: no-repeat;
}

.shipping {
  background-image: url(../images/Combined\ Shape.svg);
  background-size: 72px 50px;
  background-position: center 40px;
  background-repeat: no-repeat;
}

.section-works {
  width: 1100px;
  margin: 0 auto;
  padding-top: 200px;
}

.section-works-h2 {
  margin: 30px 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
}

.section-span-border {
  position: relative;
  display: block;
  width: 730px;
  margin: 45px 0;
  border: 2px solid #fdd6ba;
}

.section-span-border::after {
  position: absolute;
  left: -5px;
  top: -15px;
  width: 25px;
  height: 25px;
  border: 2px solid #0e8784;
  border-radius: 50%;
  background-color: #fefcf7;
  content: "";
}

.center::before {
  position: absolute;
  left: 365px;
  top: -15px;
  width: 25px;
  height: 25px;
  border: 2px solid #0e8784;
  border-radius: 50%;
  background-color: #fefcf7;
  content: "";
}

.child-span::before {
  position: absolute;
  left: 730px;
  top: -15px;
  width: 25px;
  height: 25px;
  border: 2px solid #0e8784;
  border-radius: 50%;
  background-color: #fefcf7;
  content: "";
}

.sectoin-works-list {
  display: flex;
  list-style-type: none;
  align-items: top;
  margin: 0;
  padding: 0;
  margin: -40px;
}

.sectoin-works-list-item {
  margin: 40px;
}

.choose-us-list-item-h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #fefcf7;
}

.choose-us-list-item-p {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fefcf7;
}

.section-span {
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fdd6ba;
}
.section-works-h3 {
  width: 200px;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333d4b;
}

.section-works-p {
  width: 285px;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
}
.button {
  margin-top: 50px;
}

.footer-site {
  margin-top: 80px;
  background-color: #2c343e;
}
.container-footer {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.footer-ul {
  display: flex;
  list-style-type: none;
  margin: 0 100px;
  padding: 0;
}

.footer-link {
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  padding: 40px 8px;
  text-decoration: none;
  color: #83888f;
  margin: 12px;
}
